<div class="carousel-cell" style="background-image:url('{{ include.background-image }}');">
  <div class="carousel-text-card ripple-dark-bg ripple-mobile" onclick="location.href='{{ include.card-href }}'">
    <div>
      <h2 class="carousel-title">{{ include.card-title }}</h2>
      <p class="carousel-info">{{ include.card-subtitle }}</p>
      <a href="{{ include.card-href }}" class="mdc-button standard-light-button mdc-button--outlined">{{ include.button-text }}</a>
    </div>
  </div>
</div>
