<html>
  <head>
    <link rel='stylesheet' href='styles/name.css'>
    <link rel='stylesheet' href='styles/topnav.css'>
  </head>
  <body>
    {% if page.title == 'Home' %}
    <div class="titlebox">
      <div class="content-box">
        <img src="src/venture.png" alt="Venture Logo" width="100" length="100" class = "center"></img>
        <h1 class = "center-title">Welcome to Venturing Crew 370</h1>
        <h2 class = "center-content">Venturing Crew 370 is a dedicated Co-Ed troop in Atlanta, Georgia for teenagers ages 14-21.</h2>
      </div>
    </div>
    {% else %} {% endif %}
    <div class="topnav2 {% if page.title == 'Home' %}{% else %}scroll{% endif %}">
      <div class="content-box" style="max-width: 1100px; margin: 0 auto;">
        <div class="parts p1">
          <div class="page-button home-btn">
            <a href="index.html">Home</a>
          </div>
          <div class="page-button">
            <a href="information.html">Information</a>
          </div>
          <div class="page-button">
            <a href="events.html">Events</a>
          </div>
          <div class="page-button">
            <a href="leadership.html">Leadership</a>
          </div>
        </div>
        <div class="parts p2">
          <div class="page-button">
            <a href="photos.html">Photos</a>
          </div>
          <div class="page-button">
            <a href="payments.html">Payments &amp; Signups</a>
          </div>
          <div class="page-button">
            <a href="contact.html">Contact</a>
          </div>
        </div>
      </div>
    </div>
    {{ content }}
  </body>
  {% if page.title == 'Home' %}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(function(){
      //shadow for flaoting navbar on mobile
        $(window).scroll(function() {
          var scroll = $(window).scrollTop();
          if (scroll >= 284) {
            $(".topnav2").addClass("scroll");
          } else {
            $(".topnav2").removeClass("scroll");
          }
      });
    });
  </script>
  {% else %} {% endif %}
</html>
