:root {
  --bio-background: #004460;
}

.bio {
  background: var(--bio-background);
  padding: 21px 21px;
}

.h3-title {
  font-family: "IBM Plex Sans", Sans-Serif;
  padding: 21px 21px;
  color: white;
  text-align: center;
  font-size: 24;
}

.h4-content {
  font-family: "Roboto", Sans-Serif;
  padding: 21px 21px;
  color: white;
  text-align: center;
  font-size: 16;
}

.h3-content {
  font-family: "Roboto", Sans-Serif;
  font-style: italic;
  color: white;
  font-size: 16;
  text-align: center;
}
