:root {
  --bb-background: #006338;
}

.background {
  background-color: var(--bb-background);
  background-color: #006338;
}

.bottombar {
  background-color: var(--bb-background);
  padding: 21px 21px;
}

.bb-title {
  font-family: "IBM Plex Sans", Sans-Serif;
  padding: 21px 21px;
  color: white;
  text-align: center;
  font-size: 35;
  background-color: var(--bb-background);
}

.contact-img {
  display: block;
  align: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: var(--bb-background);
}

.column {
  background-color: var(--bb-background);
  float: left;
  display: table;
  width: auto;
  color: var(--b-background);
  font-size: 30;
  margin-left: 21px;
  margin-top: 39px;
  margin-right: 21px;
  margin-bottom: 21px;
}

.gmaps {
  display: block;
  align: center;
  color: white;
}

.email {
  display: block;
  align: center;
}
