:root {
  --bb-background: red;
}

.bottombar {
  background-color: var(--bb-background);
  padding: 21px 21px
}

.bb-title {
  font-family: "IBM Plex Sans", Sans-Serif;
  padding: 21px 21px;
  color: black;
  text-align: center;
  font-size: 45;
}

.contact-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map {
  float: left;
  width: 50%;
  padding: 10px;
}

.r-column {
  display: table;
  float: right;
  width: 50%;
  padding: 10px;
  color: black;
  font-size: 30
}
