carousel {
  display: flex;
  height: auto;
  justify-content: center
}
carousel .content-box {
  width: var(--content-width);
}
.flickity-page-dots {
  bottom: 15px !important;
  overflow: hidden;
  height: 14px;
}
.flickity-page-dots .dot {
  background: #dddddd !important;
}
.flickity-button {
  background: none !important;
}
.flickity-button-icon {
  fill: #dddddd !important;
}
.main-carousel {
  height: 300px;
}
.main-carousel .carousel-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  margin: 0;
}
.main-carousel .carousel-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 10px;
  color: #fff;
}
.main-carousel .carousel-text-card {
  display: block;
  width: 100%;
  background: rgba(0,0,0,0.5);
  height: 100%;
  margin: 0px 0 0 auto;
  border-radius: 3px;
  transition: 0.1s;
}
.main-carousel .carousel-text-card>div {
  text-align: center;
  color: white;
  margin: auto 0 auto 0;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
.main-carousel .carousel-cell {
  width: calc(50% - (1/2)*21px);
  height: 300px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}
@media (max-width: 900px) {
  .main-carousel .carousel-cell {
    width: calc(100% - 2*21px);
    height: 300px;
  }
}
@media (max-width: 500px) {
  .main-carousel .carousel-cell {
    width: calc(86% - 21px);
    height: 200px;
  }
  .main-carousel {
    height: 200px;
  }
  .main-carousel .carousel-title {
    font-size: 28px;
  }
}
