:root {
  --contact-background: #212121;
  --text-color: white;
}

.contact {
  background: var(--contact-background);
  padding: 21px 21px
}

.M-Info {
  font-family: "IBM Plex Sans", Sans-Serif;
  padding: 21px 21px;
  color: var(--text-color);
  text-align: center;
  font-size: 45;
}

.M-dates {
  font-family: "Roboto", sans-serif;
  padding: 21px 21px;
  color: var(--text-color);
  text-align: center;
  font-size: 35;
}

.address {
  font-family: "Roboto", Sans-Serif;
  padding: 21px 21px;
  color: var(--text-color);
  text-align: center;
  font-size: 35;
}

.inform {
  font-family: "Roboto", sans-serif;
  padding: 21px 21px;
  color: var(--text-color);
  text-align: center;
  font-size: 35;
}

.email {
  font-family: "Roboto", Sans-Serif;
  padding: 21px 21px;
  color: var(--text-color);
  text-align: center;
  font-size: 35;
}
