.download {
  color: white;
  font-size: 18px;
  display: block;
  text-align: center;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.head {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: white;
  padding-top: 21px;
  padding-bottom: 10px;
  text-align: center;
}

.content {
  display: block;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 1.5;
}

.col1 {
  width: 50%;
  float: left;
}

.x-head {
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  display: block;
  padding-bottom: 5px;
  text-align: left;
}

.x-content {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  text-align: left;
}

.x-content-e {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  padding-bottom: 21px;
  text-align: left;
}

.content-note {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-bottom: 21px;
  text-align: center;
  font-weight: bold;
  padding-top: 21px;
  text-align: center;
}
