:root {

}

.n-navbar {
  display: block;
  color: white;
  background-color: #212121;
  text-align: center;
  font-size: 25px;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 21px 21px;
}

.nb-element1 {
  color: white;
}

.nb-element2 {
  color: white;
}

.nb-element3 {
  color: white;
}

.nb-element4 {
  color: white;
  break-after: auto;
}

.nb-element5 {
  color: white;
}

.nb-element6 {
  color: white;
}
