:root {

}

.n-navbar {
  display: block;
  color: white;
  background-color: #212121;
  text-align: center;
  font-size: 25px;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 21px 21px;
}

.nb-element {
  color: white;
}
